body {
}

.box {
  text-align: center;
  border: 5px solid black;
  padding-top: 150px;
  width: 40%;
  height: 180px;
  border-radius: 10%;
}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

#yellow {
  background-color: yellow;
  margin-top: 350px;
}

.container {
  display: flex;
}

h1 {
  color: black;
  margin-left: 50%;
}

h3 {
  color: black;
  margin-left: 50%;
}
